@import ../../assets/css/variables.sass
@import ../../assets/css/mixin.sass
.Services-Home
    min-height: 100vh
    .banner
        height: 200px
        background-color: $first-color
        writing-mode: vertical-rl
        text-orientation: mixed
        font-weight: 600
        border-radius: 4px
        a
            color: $first-bg-color
            @include textStyle($transform : uppercase, $decoration : none)
    .right-side
        @include flex-mixin($type : flex , $wrap: nowrap , $direction : row , $JC : center , $AI: center )
        .icon-media
            font-weight: 900
            font-size: 50px
            @include flex-mixin($type : flex , $wrap: nowrap , $direction : row , $JC : center , $AI: center )
            border: 2px dashed $first-color
            border-radius: 50%
            width: 75px
            height: 75px

